
.navigationButtons{
    #backButton {
        font-size: 1rem;
        background-color: $clear-button-color;
                
        padding: 0 0.1rem;
        margin-bottom: 0.5rem;
        @include mq(768px){
            padding: 0 0.5rem;
        }
    }
    #nextButton {
        font-size: 1rem;
        background-color: $add-button-color;
        float: right;
        //padding: 0 0.1rem;
        margin-bottom: 0.5rem;
        @include mq(768px){
            //padding: 0 0.5rem;
        }
    }

}